#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  background-image: url('/src/assets/background/background.jpg');
  background-size: auto; /* Utilise la taille naturelle de l'image */
  background-repeat: repeat; /* Répète l'image */
  background-attachment: scroll; /* L'image défile avec la page */
  background-position: top left;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif; 
}

.grid-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.grid-container span {
  flex: 1 1 200px;
}